<?php echo $this->getContent()?>
<div class="row">

	<div class="col-md-12">


		<div class="widget wgreen">

			<div class="widget-head">
				<div class="pull-left">Notification</div>
				
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">
				Are You Sure You Want to Delete This Truck?<br>
					<br />
					<!-- Form starts.  -->
					<form method="post" class="form-horizontal" role="form">

						<div class="form-group">
							<label class="col-lg-2 control-label">Company Owner</label>
							<div class="col-lg-2">
								<input type="text" class="form-control" placeholder="Truck Plate #" name="plateno" value="<?=$company ?>" readonly>
							</div>
						</div>    

						<div class="form-group">
							<label class="col-lg-2 control-label">Truck Plate #</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Truck Plate #" name="plateno" value="<?=$plateno ?>" readonly>
							</div>
						</div> 

						<div class="form-group">
							<label class="col-lg-2 control-label">Truck Lenght</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Truck Lenght" name="length" value="<?=$length ?>" readonly>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-2 control-label">Truck Width</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Truck Width" name="width" value="<?=$width ?>" readonly>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-2 control-label">Truck Height</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Truck Width" name="heigth" value="<?=$heigth ?>" readonly>
							</div>
						</div>                   
						<script>
							function goBack() {
								window.history.back();
							}
						</script>
						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-6">
								<a href="" class="btn btn-sm btn-primary" onclick="goBack()">Back</a>
								<input type="submit" class="btn btn-sm btn-primary" name="delete" value="DELETE" >
								
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="widget-foot">
				<!-- Footer goes here -->
			</div>
		</div>  

	</div>

</div>


