<?php echo $this->getContent()?>
<div class="row">

	<div class="col-md-12">


		<div class="widget wgreen">

			<div class="widget-head">
				<div class="pull-left">Add New</div>
				
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">

					<br />
					<!-- Form starts.  -->
					<form class="form-horizontal" role="form" method="post">

						<!-- <div class="form-group">
							<label class="col-lg-2 control-label">Sand Type</label>
							<div class="col-lg-2">
								<select class="form-control col-lg-6" name="type">
									<option></option>
									<?php
									$data = $data_type;

									foreach ($data as $key => $value) {
										?>
											<option value="<?=$data[$key]->id ?>"><?=$data[$key]->type ?></option>
										<?php
									}
									?>
								</select>
							</div>
							<button type="button" class="btn btn-sm btn-info" data-toggle="modal"   onclick="$('#addtype').modal({'backdrop': 'static'});">
								Add Type
							</button>
						</div>   -->


						<div class="form-group">
							<label class="col-lg-2 control-label">Categories</label>
							<div class="col-lg-2">
								<select class="form-control col-lg-6" name="categ">
									<option></option>
									<?php
									$data = $data_categ;

									foreach ($data as $key => $value) {
										?>
											<option value="<?=$data[$key]->id ?>"><?=$data[$key]->category ?></option>
										<?php
									}
									?>
								</select>
							</div>
							<button type="button" class="btn btn-sm btn-info" data-toggle="modal"   onclick="$('#addcateg').modal({'backdrop': 'static'});">
								Add Category
							</button>
						</div>      

						

						<div class="form-group">
							<label class="col-lg-2 control-label">Price per Cubic Meter</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Price" name="price">
							</div>
						</div>                   

						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-6">
								<button type="button" class="btn btn-sm btn-default">Cancel</button>
								<input type="submit" class="btn btn-sm btn-primary" name="savesand" value="SAVE">
								
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="widget-foot">
				<!-- Footer goes here -->
			</div>
		</div>  

	</div>

</div>

<!-- /////////////////////// ADD SAND TYPE -->
<!-- Modal -->
<div class="modal fade" id="addtype" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add Sand Type</h4>
				<?=$notification?>
			</div>
			<div class="modal-body">
				<form id="addtypesand" name="addtypesand" method="post" class="form-horizontal" role="form" >
					<label class="col-lg-2 control-label">Sand Type</label>
					<div class="input-group input-group-width">
						<input type="text" class="form-control" name="sandtype" value="" id="sandtype">
						<span class="input-group-btn">
							<button id="savesandtype" type="submit" class="btn btn-primary"  name="save"  >Save</button> 
						</span>
					</div>
					<!-- <div class="widget">

						<div class="widget-head">
							<div class="pull-left">List</div>
							<div class="clearfix"></div>
						</div>

						<div class="widget-content">

							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>Sand Type</th>
											<th>Control</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td></td>
											<td>

												<div class="btn-group1">
													<button class="btn btn-xs btn-success"><i class="fa fa-check"></i> </button>
													<button class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> </button>
													<button class="btn btn-xs btn-danger"><i class="fa fa-times"></i> </button>
												</div>

											</td>
										</tr>                                                            

									</tbody>
								</table>
							</div>
						</div>
					</div> -->
					
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- /////////////////////// ADD SAND TYPE -->



<!-- /////////////////////// ADD SAND TYPE -->
<!-- Modal -->
<div class="modal fade" id="addcateg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add Sand Category</h4>
				<?=$notification?>
			</div>
			<div class="modal-body">
				<form id="addtypesand" name="addtypesand" method="post" class="form-horizontal" role="form" >
					<label class="col-lg-2 control-label">Category</label>
					<div class="input-group input-group-width">
						<input type="text" class="form-control" name="sandtype" value="" id="sandcateg">
						<span class="input-group-btn">
							<button id="savesandcateg" type="submit" class="btn btn-primary"  name="save"  >Save</button> 
						</span>
					</div>

					
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- /////////////////////// ADD SAND TYPE -->


