<?php echo $this->getContent()?>
<div class="row">

	<div class="col-md-12">


		<div class="widget wgreen">

			<div class="widget-head">
				<div class="pull-left">Notification</div>
				
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">
				Are You Sure You Want to Delete This Sand Category?<br>
					<br />
					<!-- Form starts.  -->
					<form method="post" class="form-horizontal" role="form">

						<div class="form-group">
							<label class="col-lg-2 control-label">Category</label>
							<div class="col-lg-2">
								<input type="text" class="form-control" placeholder="Truck Plate #" name="plateno" value="<?=$sandcateg ?>" readonly>
							</div>
						</div>    

						<div class="form-group">
							<label class="col-lg-2 control-label">Per Cubic Meter Price</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Truck Plate #" name="plateno" value="<?=$price ?>" readonly>
							</div>
						</div> 

						
						<script>
							function goBack() {
								window.history.back();
							}
						</script>
						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-6">
								<a href="" class="btn btn-sm btn-primary" onclick="goBack()">Back</a>
								<input type="submit" class="btn btn-sm btn-primary" name="delete" value="DELETE" >
								
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="widget-foot">
				<!-- Footer goes here -->
			</div>
		</div>  

	</div>

</div>


