<?php echo $this->getContent()?>

<div class="row">

	<div class="col-md-12">



		<div class="input-group input-group-width">
			<input type="text" class="form-control">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Search</button>
			</span>
		</div>

		<div class="widget">

			<div class="widget-head">
				<div class="pull-left">List</div>
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">

				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Company Name</th>
								<th>Address</th>
								<th>Contact</th>
								<th>Control</th>
							</tr>
						</thead>
						<tbody>
						<?php
						foreach ($page->items as $item) {
							?>
								<tr>
								<td><?=$item->campname ?></td>
								<td><?=$item->address ?></td>
								<td><?=$item->contact ?></td>
								<td>

									<div class="btn-group1">
										<button class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> </button>
										<button class="btn btn-xs btn-danger"><i class="fa fa-times"></i> </button>
									</div>

								</td>
							</tr>                 
							<?php
							}
						?>
						</tbody>
					</table>
				</div>

				<div class="widget-foot">


					<ul class="pagination pagination-sm pull-left">
						<li><a href="/company/compList/search?page=<?= $page->before; ?>">Prev</a></li>
						<?php
							// for(){
								
							// } 
						?>
						<!-- <li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li> -->
						<li><a href="/company/compList/search?page=<?= $page->next; ?>">Next</a></li>
					</ul>

					<div class="clearfix"></div> 

				</div>

			</div>

		</div>


	</div>



</div>
