<?php echo $this->getContent()?>

<div class="row">

	<div class="col-md-12">

		<a href="/company/compList">&laquo Return List</a>
		<a href="/company/editcompany/<?=$compid ?>" class="btn btn-sm btn-primary pull-right">Edit Company Info</a>
		<h1><?=$companyname?></h1>
		<h5>Address: <label style="color:#444;"><?=$address?></label> | Contact #: <label style="color:#444;"><?=$contact?></label></h5>
		<hr style="width: 100%; color: #aaa; height: 1px; background-color:#aaa;">
	<ul class="nav nav-tabs">
		<li role="presentation" ><a href="../compprofile/<?=$compid ?>">Owned Trucks</a></li>
		<li role="presentation" class="active"><a href="../orderedhistory/<?=$compid ?>">Ordered History</a></li>
		<li role="presentation"><a href="../setproductprice/<?=$compid ?>">Set Product Price</a></li>
	</ul>

	<br>
	<br>
	<div id="dailysales">
	 	<div style="margin-bottom:20px">
	 		<form method="post">
	 			From:<input type="date" name="from" value="<?=$from ?>" required>
	 			To:<input type="date" name="to" value="<?=$to ?>" required>
	 			<input type="submit" class="btn btn-sm btn-primary" name="showrpt" id="showrpt" value="Show Order">
	 			<input type="hidden"  id="dspval"value="<?=$dspval ?>" >
	 		</form>

	 	</div>
	 	<hr style="  
	 	border: solid #dddddd;
	 	border-width: 1px 0 0;
	 	clear: both;
	 	margin: 1.25em 0 1.1875em;
	 	height: 0;
	 	">
	 	<div class="table-responsive">
	 		<table class="table table-striped table-bordered table-hover">
	 			<thead>
	 				<tr style="text-align:center;">
	 					<th rowspan="2">PLATE #</th>
	 					<th rowspan="2">CLASS</th>
	 					<th rowspan="2">Cu-Mtr</th>
	 					<th rowspan="2">Price-Cu-Mtr</th>
	 					<th colspan="2">AMOUNT</th>
	 					<!-- <th rowspan="2">TOTAL</th> -->
	 					<th rowspan="2">DR</th>
	 					<th rowspan="2">DATE</th>
	 				</tr>
	 				<tr>
	 					<th>CASH</th>
	 					<th>PO</th>
	 				</tr>
	 			</thead>
	 			<tbody>
	 				<tr>
	 					<td></td>
	 					<td></td>
	 					<td></td>
	 					<td></td>
	 					<td></td>
	 					<td></td>
	 					<!-- <td></td> -->
	 					<td></td>
	 					<td></td>
	 				</tr>
	 				<?php
					foreach ($dborder as $order => $value) {
						?>
						<tr>
							<td><?=$dborder[$order]->plateno ?></td>
							<td><?=$dborder[$order]->sand ?></td>
							<td><?=$dborder[$order]->cumtr ?></td>
							<td><?=$dborder[$order]->pricecumtr ?></td>
							<td><?=$dborder[$order]->cash ?></td>
							<td><?=$dborder[$order]->poamount ?></td>
							<!-- <td></td> -->
							<td><?=$dborder[$order]->drno ?></td>
							<td><?=$dborder[$order]->date ?></td>      
							<?php
						}
						?>
	 			</tbody> 
	 		</table>

	 	</div>
	 	<div style="text-align:center">
	 		<h1><?=$note ?></h1>
	 	</div>
	 </div>





	</div>




</div>
