
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title> BMR Aggreates</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">


  <!-- Stylesheets -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font awesome icon -->
  <link rel="stylesheet" href="/css/font-awesome.min.css"> 
  <!-- jQuery UI -->
  <link rel="stylesheet" href="/css/jquery-ui.css"> 
  <!-- Calendar -->
  <link rel="stylesheet" href="/css/fullcalendar.css">
  <!-- prettyPhoto -->
  <link rel="stylesheet" href="/css/prettyPhoto.css">  
  <!-- Star rating -->
  <link rel="stylesheet" href="/css/rateit.css">
  <!-- Date picker -->
  <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
  <!-- CLEditor -->
  <link rel="stylesheet" href="/css/jquery.cleditor.css"> 
  <!-- Data tables -->
  <link rel="stylesheet" href="/css/jquery.dataTables.css"> 
  <!-- Bootstrap toggle -->
  <link rel="stylesheet" href="/css/jquery.onoff.css">
  <!-- Main stylesheet -->
  <link href="/css/style.css" rel="stylesheet">
  <!-- Widgets stylesheet -->
  <link href="/css/widgets.css" rel="stylesheet">   
  
  <script src="/js/respond.min.js"></script>
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon/favicon.png">
</head>

<body>



  <!-- Header starts -->
  <header>
    <div class="container">
      <div class="row">

        <!-- Logo section -->
        <div class="col-md-4">
          <!-- Logo. -->
          <div class="logo">
            <h1><a href="#"><span class="bold">BMR</span></a></h1>
            <p class="meta">Aggregates</p>
          </div>
          <!-- Logo ends -->
        </div>

        <!-- Button section -->
        <di

        <!-- Data section -->

        <div class="col-md-4">
          <div class="header-data">

            <!-- Traffic data -->
            <div class="hdata">
              <div class="mcol-left">
                <!-- Icon with red background -->
                <i class="fa fa-signal bred"></i> 
              </div>
              <div class="mcol-right">
                <!-- Number of visitors -->
                <p><a href="#">7000</a> <em>visits</em></p>
              </div>
              <div class="clearfix"></div>
            </div>

            <!-- Members data -->
            <div class="hdata">
              <div class="mcol-left">
                <!-- Icon with blue background -->
                <i class="fa fa-user bblue"></i> 
              </div>
              <div class="mcol-right">
                <!-- Number of visitors -->
                <p><a href="#">3000</a> <em>users</em></p>
              </div>
              <div class="clearfix"></div>
            </div>

            <!-- revenue data -->
            <div class="hdata">
              <div class="mcol-left">
                <!-- Icon with green background -->
                <i class="fa fa-money bgreen"></i> 
              </div>
              <div class="mcol-right">
                <!-- Number of visitors -->
                <p><a href="#">5000</a><em>orders</em></p>
              </div>
              <div class="clearfix"></div>
            </div>                        

          </div>
        </div>

      </div>
    </div>
  </header>

  <!-- Header ends -->

  <!-- Main content starts -->

  <div class="content">

  	<!-- Sidebar -->
    <div class="sidebar">
      <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

      <!--- Sidebar navigation -->
      <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
      <ul id="nav">
        <!-- Main menu with font awesome icon -->
        <li class="open"><a href="http://bmr"><i class="fa fa-home"></i> Dashboard</a>
            <!-- Sub menu markup 
            <ul>
              <li><a href="#">Submenu #1</a></li>
              <li><a href="#">Submenu #2</a></li>
              <li><a href="#">Submenu #3</a></li>
            </ul>-->
          </li>
          <li class="has_sub">
           <a href="#"><i class="fa fa-list-alt"></i> Client Company  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
           <ul>
            <li><a href="/company/addcompany">Add New Company</a></li>
            <li><a href="/company/compList">Manage Company List</a></li>
          </ul>
        </li>  
        <li class="has_sub">
         <a href="#"><i class="fa fa-file-o"></i> Trucks  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
         <ul>
          <li><a href="/trucks/addtruck">Add Trucks</a></li>
          <li><a href="/trucks/truckList">Trucks List</a></li>
        </ul>
      </li> 
      <li class="has_sub">
        <a href="#"><i class="fa fa-file-o"></i> Sands  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
        <ul>
          <li><a href="/sands/addsand">Add Trucks</a></li>
          <li><a href="/sands/sandList">Trucks List</a></li>
        </ul>
      </li>
      <li><a href="/orders"><i class="fa fa-bar-chart-o"></i> Orders</a></li> 
      <li><a href="/reports"><i class="fa fa-tasks"></i> Reports</a></li> 
    </ul>

  </div>

  <!-- Sidebar ends -->

  <!-- Main bar -->
  <div class="mainbar">

   <!-- Page heading -->
   <div class="page-head">
     <h2 class="pull-left"><i class="fa fa-home"></i> <?=$header_title?></h2>

     <!-- Breadcrumb -->
     <div class="bread-crumb pull-right">
      <a href="index.html"><i class="fa fa-home"></i> Home</a> 
      <!-- Divider -->
      <span class="divider">/</span> 
      <a href="#" class="bread-current"><?=$header_title?></a>
    </div>

    <div class="clearfix"></div>

  </div>
  <!-- Page heading ends -->



  <!-- Matter -->

  <div class="matter">
    <div class="container">
      <?php echo $this->getContent() ?>
    </div>
  </div>

  <!-- Matter ends -->

</div>

<!-- Mainbar ends -->
<div class="clearfix"></div>

</div>
<!-- Content ends -->

<!-- Footer starts -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Copyright info -->
        <p class="copy">Copyright &copy; 2012 | <a href="#">Your Site</a> </p>
      </div>
    </div>
  </div>
</footer> 	

<!-- Footer ends -->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span> 

<!-- JS -->
<script src="/js/jquery.js"></script> <!-- jQuery -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="/js/jquery-ui.min.js"></script> <!-- jQuery UI -->
<script src="/js/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
<script src="/js/jquery.rateit.min.js"></script> <!-- RateIt - Star rating -->
<script src="/js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto -->
<script src="/js/jquery.slimscroll.min.js"></script> <!-- jQuery Slim Scroll -->
<script src="/js/jquery.dataTables.min.js"></script> <!-- Data tables -->

<!-- jQuery Flot -->
<script src="/js/excanvas.min.js"></script>
<script src="/js/jquery.flot.js"></script>
<script src="/js/jquery.flot.resize.js"></script>
<script src="/js/jquery.flot.pie.js"></script>
<script src="/js/jquery.flot.stack.js"></script>

<!-- jQuery Notification - Noty -->
<script src="/js/jquery.noty.js"></script> <!-- jQuery Notify -->
<script src="/js/themes/default.js"></script> <!-- jQuery Notify -->
<script src="/js/layouts/bottom.js"></script> <!-- jQuery Notify -->
<script src="/js/layouts/topRight.js"></script> <!-- jQuery Notify -->
<script src="/js/layouts/top.js"></script> <!-- jQuery Notify -->
<!-- jQuery Notification ends -->

<script src="/js/sparklines.js"></script> <!-- Sparklines -->
<script src="/js/jquery.cleditor.min.js"></script> <!-- CLEditor -->
<script src="/js/bootstrap-datetimepicker.min.js"></script> <!-- Date picker -->
<script src="/js/jquery.onoff.min.js"></script> <!-- Bootstrap Toggle -->
<script src="/js/filter.js"></script> <!-- Filter for support page -->
<script src="/js/custom.js"></script> <!-- Custom codes -->
<script src="/js/charts.js"></script> <!-- Charts & Graphs -->

<!-- Script for this page -->
<script type="text/javascript">
  $(function () {

    /* Bar Chart starts */

    var d1 = [];
    for (var i = 0; i <= 20; i += 1)
      d1.push([i, parseInt(Math.random() * 30)]);

    var d2 = [];
    for (var i = 0; i <= 20; i += 1)
      d2.push([i, parseInt(Math.random() * 30)]);


    var stack = 0, bars = true, lines = false, steps = false;
    
    function plotWithOptions() {
      $.plot($("#bar-chart"), [ d1, d2 ], {
        series: {
          stack: stack,
          lines: { show: lines, fill: true, steps: steps },
          bars: { show: bars, barWidth: 0.8 }
        },
        grid: {
          borderWidth: 0, hoverable: true, color: "#777"
        },
        colors: ["#ff6c24", "#ff2424"],
        bars: {
          show: true,
          lineWidth: 0,
          fill: true,
          fillColor: { colors: [ { opacity: 0.9 }, { opacity: 0.8 } ] }
        }
      });
    }

    plotWithOptions();
    
    $(".stackControls input").click(function (e) {
      e.preventDefault();
      stack = $(this).val() == "With stacking" ? true : null;
      plotWithOptions();
    });
    $(".graphControls input").click(function (e) {
      e.preventDefault();
      bars = $(this).val().indexOf("Bars") != -1;
      lines = $(this).val().indexOf("Lines") != -1;
      steps = $(this).val().indexOf("steps") != -1;
      plotWithOptions();
    });

    /* Bar chart ends */

  });


/* Curve chart starts */

$(function () {
  var sin = [], cos = [];
  for (var i = 0; i < 14; i += 0.5) {
    sin.push([i, Math.sin(i)]);
    cos.push([i, Math.cos(i)]);
  }

  var plot = $.plot($("#curve-chart"),
   [ { data: sin, label: "sin(x)"}, { data: cos, label: "cos(x)" } ], {
     series: {
       lines: { show: true, fill: true},
       points: { show: true }
     },
     grid: { hoverable: true, clickable: true, borderWidth:0 },
     yaxis: { min: -1.2, max: 1.2 },
     colors: ["#1eafed", "#1eafed"]
   });

  function showTooltip(x, y, contents) {
    $('<div id="tooltip">' + contents + '</div>').css( {
      position: 'absolute',
      display: 'none',
      top: y + 5,
      left: x + 5,
      border: '1px solid #000',
      padding: '2px 8px',
      color: '#ccc',
      'background-color': '#000',
      opacity: 0.9
    }).appendTo("body").fadeIn(200);
  }

  var previousPoint = null;
  $("#curve-chart").bind("plothover", function (event, pos, item) {
    $("#x").text(pos.x.toFixed(2));
    $("#y").text(pos.y.toFixed(2));

    if ($("#enableTooltip:checked").length > 0) {
      if (item) {
        if (previousPoint != item.dataIndex) {
          previousPoint = item.dataIndex;

          $("#tooltip").remove();
          var x = item.datapoint[0].toFixed(2),
          y = item.datapoint[1].toFixed(2);

          showTooltip(item.pageX, item.pageY, 
            item.series.label + " of " + x + " = " + y);
        }
      }
      else {
        $("#tooltip").remove();
        previousPoint = null;            
      }
    }
  }); 

  $("#curve-chart").bind("plotclick", function (event, pos, item) {
    if (item) {
      $("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
      plot.highlight(item.series, item.datapoint);
    }
  });

});

/* Curve chart ends */
</script>

</body>
</html>

